{% extends "layouts/main.html" %}

{% block content %}
    <!--
    {% if name != None: %}
    <h1>The name is: {{name}}</h1>
    <h2>The age is: {{age}}</h2>
    {% endif %}
    -->

    <form method="get">
        <label for="url">Enter Uber Eats url:</label>
        <input class="u-full-width" type="text" name="url" id="url" value="{% if url != None: %}{{url}}{% endif %}">
        <br/>
        <input type="submit" value="Get Menu" >

    </form>

    {% if url != None: %}
    <h5><strong>Retrieving menu from:</strong></h5>
    <h5>{{url}}</h5>
    {% endif %}


    {% for table in tables %}
    {{ table|safe }}
    {% endfor %}


{% endblock %}
